{% extends 'layout.html' %}{% block head %}
             
        <title>Animal Friends in Need Log In Page</title>
             
        <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='register.css') }}"
        />
        <!-- <link href="../static/register.css" rel="stylesheet" /> -->
        {% endblock %}       
 
    {% block body %}
             
        <div class="container">
                     
            <div class="header">
                             
                <nav
                    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
                >
                    <a
                        href="/"
                        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
                    >
                        <span class="fs-3 fw-bold">Animal Friends in Need</span>
                    </a>
 
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="/" class="nav-link fs-5">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/login" class="nav-link active fs-5" aria-current="page"
                                >Log In</a
                            >
                        </li>
                    </ul>
                                             
                </nav>
                         
            </div>
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-6 fw-bold text-center fs-2">Log In</h1>
                    <form id="form-signin" action="" method="POST">
                        {{ form.csrf_token() }}
                        {% for field, errors in form.errors.items() %}
                
                        <div class="alert alert-error">
                            {{ form[field].label }}: {{ ', '.join(errors) }}
                        </div>
                        {% endfor %}

                                <label for="inputEmail" class="sr-only">Email</label>
                            {{ form.email.label(class='form-control-label fs-5') }} 
                            {% if form.email.errors %}
                            {{ form.email(class='form-control form-control-lg is-invalid') }}

                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.email(class='form-control form-control-lg') }}
                            {% endif %}

                        {{ form.password.label(class='form-control-label fs-5') }} 
                        {% if form.password.errors %}
                        {{ form.password(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                          {% for error in form.password.errors %}
                               <span>{{ error }}</span>
                          {% endfor %}
                
                        </div>
                        {% else %}
                            {{ form.password(class='form-control form-control-lg') }}
                        {% endif %}

                        <div class="mb-3 form-check">
                            {{ form.remember(class='form-check-input') }} {{
                            form.remember.label(class='form-check-label fs-5') }}
                          </div>
                
                        <div class="container">
                            {{ form.submit(class='btn btn-lg btn-primary btn-block') }}
                          </div>
                          <div class="border-top pt-3">
                            <small class="text-muted fs-5">
                              You don't have an account?<a class="ml-5 fs-5" href="{{ url_for('register') }}"
                                >Register</a
                              >
                            </small>   
                            
                    </form>
                </div>
            </div>
                     
            <footer class="footer">
                             
                <p class="fs-5">&copy; AFIN 2022</p>
                         
            </footer>       
        </div>
 {% endblock %}